Step 1: Imports

In [1]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv(r'C:\Users\nargi\Documents\coding temple\week 6\sql day 2\nbastats2018-2019 (1).csv')
df.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

Step 2: Tidy Data

In [10]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.columns

Index(['_n_a_m_e_', '_h_e_i_g_h_t_', '_w_e_i_g_h_t_', '_t_e_a_m_', '_a_g_e_',
       '_s_a_l_a_r_y_', '_p_o_i_n_t_s_', '_b_l_o_c_k_s_', '_s_t_e_a_l_s_',
       '_a_s_s_i_s_t_s_', '_r_e_b_o_u_n_d_s_', '_f_t_%_', '_f_t_a_',
       '_f_g_3_%_', '_f_g_3_a_', '_f_g_%_', '_f_g_a_', '_m_p_', '_g_',
       '_p_e_r_', '_o_w_s_', '_d_w_s_', '_w_s_', '_w_s_4_8_', '_u_s_g_',
       '_b_p_m_', '_v_o_r_p_'],
      dtype='object')

Step 3: EDA (Exploratory Data Analysis)

In [11]:
df.describe()

,_h_e_i_g_h_t_,_w_e_i_g_h_t_,_a_g_e_,_p_o_i_n_t_s_,_b_l_o_c_k_s_,_s_t_e_a_l_s_,_a_s_s_i_s_t_s_,_r_e_b_o_u_n_d_s_,_f_t_%_,_f_t_a_,...,_m_p_,_g_,_p_e_r_,_o_w_s_,_d_w_s_,_w_s_,_w_s_4_8_,_u_s_g_,_b_p_m_,_v_o_r_p_
count,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,499.000000,521.000000,...,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000
mean,78.971209,217.516315,25.900192,8.737236,0.397889,0.621497,1.948752,3.661804,0.735144,1.819386,...,19.598848,49.988484,13.247025,1.237236,1.155278,2.393858,0.079063,18.757582,-1.770058,0.577735
std,3.299932,23.522089,4.208236,6.085559,0.405794,0.412589,1.776774,2.527316,0.145222,1.641701,...,8.988803,25.626606,7.058072,1.854837,1.106543,2.742634,0.115215,5.593436,4.942094,1.330516
min,69.000000,166.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.700000,1.000000,-38.100000,-2.800000,-0.500000,-1.700000,-0.946000,0.000000,-52.300000,-2.200000
25%,77.000000,200.000000,23.000000,4.200000,0.100000,0.300000,0.800000,1.900000,0.675000,0.700000,...,12.600000,29.000000,9.800000,0.000000,0.300000,0.300000,0.039000,15.000000,-3.700000,-0.100000
50%,79.000000,215.000000,25.000000,7.100000,0.300000,0.500000,1.300000,3.100000,0.759000,1.300000,...,19.300000,57.000000,12.800000,0.500000,0.900000,1.500000,0.085000,17.800000,-1.500000,0.100000
75%,82.000000,235.000000,29.000000,11.800000,0.500000,0.900000,2.500000,4.700000,0.822000,2.400000,...,27.200000,73.000000,16.600000,1.900000,1.700000,3.500000,0.123000,22.100000,0.500000,0.800000
max,87.000000,290.000000,42.000000,36.100000,2.700000,2.200000,10.700000,15.600000,1.000000,11.000000,...,36.900000,82.000000,80.400000,11.400000,5.900000,15.200000,1.261000,47.200000,14.900000,9.900000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _n_a_m_e_          521 non-null    object
 1   _h_e_i_g_h_t_      521 non-null    int64
 2   _w_e_i_g_h_t_      521 non-null    int64
 3   _t_e_a_m_          470 non-null    object
 4   _a_g_e_            521 non-null    int64
 5   _s_a_l_a_r_y_      521 non-null    object
 6   _p_o_i_n_t_s_      521 non-null    float64
 7   _b_l_o_c_k_s_      521 non-null    float64
 8   _s_t_e_a_l_s_      521 non-null    float64
 9   _a_s_s_i_s_t_s_    521 non-null    float64
 10  _r_e_b_o_u_n_d_s_  521 non-null    float64
 11  _f_t_%_            499 non-null    float64
 12  _f_t_a_            521 non-null    float64
 13  _f_g_3_%_          489 non-null    float64
 14  _f_g_3_a_          521 non-null    float64
 15  _f_g_%_            519 non-null    float64
 16  _f_g_a_            521 non-null    float64
 17  _m_p_              521 non-null    float64
 18  _g_                521 non-null    int64
 19  _p_e_r_            521 non-null    float64
 20  _o_w_s_            521 non-null    float64
 21  _d_w_s_            521 non-null    float64
 22  _w_s_              521 non-null    float64
 23  _w_s_4_8_          521 non-null    float64
 24  _u_s_g_            521 non-null    float64
 25  _b_p_m_            521 non-null    float64
 26  _v_o_r_p_          521 non-null    float64
dtypes: float64(20), int64(4), object(3)
memory usage: 110.0+ KB